body{
  font-family: Arial;
  background:#111;
  color:white;
  text-align:center;
  padding:20px;
}

h1{margin-bottom:20px;}

.inputs{
  display:grid;
  gap:10px;
  margin-bottom:20px;
}

input{
  padding:12px;
  font-size:18px;
  border-radius:10px;
  border:none;
}

button{
  padding:15px;
  font-size:20px;
  background:#00c853;
  border:none;
  border-radius:15px;
  color:white;
  margin-bottom:20px;
}

table{
  width:100%;
  border-collapse:collapse;
}

td,th{
  border:1px solid #444;
  padding:6px;
}